PORT=5000
MONGO_URI=mongodb+srv://placement_admin:buri2468@placement-platform.po3jm9o.mongodb.net/placement-platform?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
CODING_ENGINE_URL=http://localhost:8000